step-restore-cache: &step-restore-cache
  restore_cache:
    keys:
      - v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
      - v1-dependencies-{{ arch }}

steps-test: &steps-test
  steps:
    - run:
        name: Install Linux Dependencies
        command: |
          if [ "`uname`" == "Linux" ]; then
            sudo apt-get update && sudo apt-get install --no-install-recommends -y libasound2 libgtk-3-0 libnss3 libxss1 libxtst6 xvfb
          fi
    - checkout
    - *step-restore-cache
    - run: yarn install
    - save_cache:
        paths:
          - node_modules
        key: v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
    - run: yarn test


version: 2.1
orbs:
  win: circleci/windows@2.4.0
jobs:
  test-linux-14:
    docker:
      - image: cimg/node:14.19.3
    <<: *steps-test
  test-linux-16:
    docker:
      - image: cimg/node:16.15.0
    <<: *steps-test
  test-mac:
    macos:
      xcode: "13.3.0"
    <<: *steps-test
  test-windows:
    executor:
      name: win/default
      shell: bash.exe
    <<: *steps-test

  release:
    docker:
      - image: cimg/node:14.19.3
    steps:
      - checkout
      - *step-restore-cache
      - run: yarn install
      - run: npx @continuous-auth/circleci-oidc-github-auth@1.0.5
      - run: npx semantic-release
workflows:
  version: 2
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - test-linux-14
      - test-linux-16
      - test-mac
      - test-windows
      - release:
          requires:
            - test-linux-14
            - test-linux-16
            - test-mac
            - test-windows
          filters:
            branches:
              only:
                - main
          context: cfa-release
